
h3
{
    margin-left:35%;
    font-size:25px;

}
.resume-button
{
    margin-top: 20px;
    margin-left: 47%;
}

@media screen and (max-width:480px)
{
    h3
    {
        margin-top: 20px;
        margin-left:15%;
        font-size:17px;
    
    }
    .resume-button
{
   margin-bottom: 20px;
   margin-left: 43%;
}
    
}